@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot');
  src: url('../fonts/Noto-Sans-regular/Noto-Sans-regular.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans'),
       local('Noto-Sans-regular'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff2') format('woff2'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.woff') format('woff'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.ttf') format('truetype'),
       url('../fonts/Noto-Sans-regular/Noto-Sans-regular.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot');
  src: url('../fonts/Noto-Sans-700/Noto-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold'),
       local('Noto-Sans-700'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.woff') format('woff'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700/Noto-Sans-700.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot');
  src: url('../fonts/Noto-Sans-italic/Noto-Sans-italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Italic'),
       local('Noto-Sans-italic'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.woff') format('woff'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-italic/Noto-Sans-italic.svg#NotoSans') format('svg');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot');
  src: url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.eot?#iefix') format('embedded-opentype'),
       local('Noto Sans Bold Italic'),
       local('Noto-Sans-700italic'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff2') format('woff2'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.woff') format('woff'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.ttf') format('truetype'),
       url('../fonts/Noto-Sans-700italic/Noto-Sans-700italic.svg#NotoSans') format('svg');
}

body {
  background-color: #43a4ea;
  padding:10px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:white;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.header-wrapper {
	width: 100%;
    top: 20%;
    position:fixed;
}

header {
  margin: auto;
  width:450px;
  -webkit-font-smoothing:subpixel-antialiased;
}

.temperature {
	font-size: 92pt;
}

.title {
	font-size: 42pt; 
	text-align: center;
}

.footer-wrapper {
	position: fixed;
    bottom:10px;
	width: 100%;
}

footer {
  margin: auto;
  width: 400px;
  font-size: 12px;
  opacity: 0.8;
}

.footer_text {
  margin-left:140px;	
}

.hap_logo {
	width: 100px;
}

footer a {
    color: white;
    text-decoration:underline;
}

@media print, screen and (max-height: 800px) {
    .header-wrapper {
      float:none;
      position:static;
      width:auto;
    }
	
    .temperature {
    	font-size: 72pt;
    }

    .title {
    	font-size: 32pt; 
    }
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width:auto;
    margin:0;
  }

  header {
    float:none;
    position:static;
    width:auto;
  }

}

@media print, screen and (max-width: 760px) {
  body {
    word-wrap:break-word;
  }

  header {
    padding:0;
  }

  pre, code {
    word-wrap:normal;
  }
  
  .temperature {
  	font-size: 72pt;
  }

  .title {
  	font-size: 32pt; 
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  footer {
	  font-size: 10px;
  }
  
  .footer_text {
	  margin-left:80px;	
      width: 300px;
  }
  
  .hap_logo {
  	width: 60px;
  }
}

@media print, screen and (max-width: 380px) {
  body {
    padding:15px;
  }
  
  p {
      margin-top: 0.3em;
	  margin-bottom: 0.3em;
  }
  
  .footer_text {
	  margin-left:80px;	
      width: 240px;
  }
  
  .hap_logo {
  	width: 60px;
  }
}

@media print, screen and (max-width: 340px) {
	.emoji {
		width: 80px;
	}
	
	.temperature {
		font-size: 52pt;
	}

	.title {
		font-size: 24pt; 
		text-align: center;
	}
}
